body {
	font-family: "sans-serif";
	max-width: 45em;
	min-height: calc(100vh - 3em);
	margin: 3em auto 0 auto;
	background-image: linear-gradient(#8ab5a6, #c6dad3);
}

h1 {
	color: #284940;
	margin-bottom: 0;
}

.last-updated {
	font-style: oblique;
}

#map {
	height: 50vh;
	width: 90%;
	margin: 3em auto;
	border: 1px solid lightgrey;
}

.schedule {
	display: grid;
	grid-template-columns: 1fr repeat(4, 4em);
	line-height: 180%;
	background: whitesmoke;
	padding: 20px;
	border: 1px solid lightgrey;
	margin-bottom: 4em;
}

.schedule div {
	padding-left: 4px;
	padding-right: 4px;
}

.schedule .header-row-1.scheduled {
	grid-column: 2 / span 2;
	text-align: center;
	font-weight: bold;
}

.schedule .scheduled:not(.stop-dep) {
	border-left: 1px solid lightgrey;
}

.schedule .estimated:not(.stop-dep) {
	border-left: 1px solid lightgrey;
}

.schedule .header-row-1.actual {
	grid-column: 4 / span 2;
	text-align: center;
	font-weight: bold;
}

.schedule :not(.header-row-1):nth-last-child(n + 6) {
	border-bottom: 1px solid lightgrey;
}

.schedule .header-row-2 {
	font-weight: bold;
}

.stop-name {
	grid-column: 1;
	overflow-x: scroll;
}

.stop-arr {
	text-align: center;
	grid-column: 2;
}

.stop-dep {
	text-align: center;
	grid-column: 3;
}

.stop-arr.estimated {
	grid-column: 4;
}

.stop-dep.estimated {
	grid-column: 5;
}

.estimated.expected {
	color: grey;
	font-style: oblique;
}
